<!-- Footer -->
    <footer>
    	<div class="container text-center footer">
          <p>...</p>
        	<p>Copyright &copy; PubHouse by David, Bianca, Emerson</p>
          <p>2017</p>
        </div>
    </footer>
