
 	<!-- Page Content -->
    <div class="container">
        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Bem vindo(a) ao PubHouse!
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4></i> Quem somos?</h4>
                    </div>
                    <div class="panel-body">
                        <p>O sistema PubHouse visa efetuar e controlar cadastros de produtos, clientes, funcionários e fornecedores. Assim, os componentes principais do seu negócio estarão registrados neste simples e prático sistema.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4></i> Qualidade</h4>
                    </div>
                    <div class="panel-body">
                        <p>Nossos produtos são avaliados pelos melhores especialistas no assunto, você não vai se arrepender. Vale a pena conferir!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4></i> Descomplicado</h4>
                    </div>
                    <div class="panel-body">
                        <p>Vamos começar? Utilize a barra de menu superior. Em poucos passos você conclui e controla cadastros com conforto e rapidez.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">PubHouse</h2>
            </div>

            <div class="col-md-6">
                <%= image_tag 'logo.jpg', class: "img-responsive" %>
            </div>
        </div>
        <!-- /.row -->
    </div>
