<h1>Editing Funcionario</h1>

<%= render 'form', funcionario: @funcionario %>

<%= link_to 'Show', @funcionario, class: "btn btn-info" %> |
<%= link_to 'Back', funcionarios_path, class: "btn btn-default" %>
